amqp==5.3.1
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.9.1
attrs==25.3.0
beautifulsoup4==4.13.4
billiard==4.2.1
bleach==6.2.0
celery==5.5.3
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
css-inline==0.14.6
csscompressor==0.9.5
cssutils==2.11.1
defusedcsv==2.0.0
defusedxml==0.7.1
Django==5.1.11
django-appconf==1.1.0
django-compressor==4.5.1
django-countries==7.6.1
django-filter==25.1
django-formset-js-improved==0.5.0.3
django-formtools==2.5.1
django-hierarkey==1.2.1
django-i18nfield==1.10.2
django-jquery-js==3.1.1
django-libsass==0.9
django-scopes==2.0.0
django_context_decorator==1.6.1
django_csp==3.8
djangorestframework==3.16.0
drf-flex-fields==1.0.2
drf-spectacular==0.28.0
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kombu==5.5.4
libsass==0.23.0
lxml==6.0.0
Markdown==3.8.2
more-itertools==10.7.0
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
publicsuffixlist==1.0.2.20250708
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
qrcode==8.2
rcssmin==1.1.2
redis==5.2.1
referencing==0.36.2
reportlab==4.4.2
requests==2.32.4
rjsmin==1.2.2
rpds-py==0.26.0
rules==3.5
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
urlman==2.0.2
vine==5.1.0
vobject==0.9.9
wcwidth==0.2.13
webencodings==0.5.1
whitenoise==6.9.0
zxcvbn==4.5.0
