amqp==5.3.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.12.1
beautifulsoup4==4.14.3
billiard==4.2.4
bleach==6.3.0
brotli==1.2.0
celery==5.6.3
certifi==2026.6.17
cffi==2.1.0
chardet==5.2.0
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
css-inline==0.20.2
csscompressor==0.9.5
cssutils==2.11.1
defusedcsv==3.0.0
defusedxml==0.7.1
diff-match-patch==20241021
Django==6.0.7
django-appconf==1.1.0
django-compressor==4.5.1
django-countries==7.6.1
django-csp==4.0
django-filter==25.2
django-formset-js-improved==0.5.0.3
django-formtools==2.5.1
django-hierarkey==2.0.1
django-i18nfield==1.11.0
django-jquery-js==3.1.1
django-libsass==0.9
django-minify-html==1.14.0
django-scopes==2.0.0
django-tables2==3.0.0
django_context_decorator==1.6.1
djangorestframework==3.17.1
drf-flex-fields==1.0.2
gunicorn==26.0.0
idna==3.18
kombu==5.6.2
libsass==0.23.0
lxml==6.1.1
Markdown==3.10.2
minify_html==0.18.1
more-itertools==11.1.0
packaging==26.2
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
publicsuffixlist==1.0.2.20260715
pycparser==3.0
python-dateutil==2.9.0.post0
pytz==2026.2
qrcode==8.2
rcssmin==1.1.2
redis==7.4.1
reportlab==4.4.10
requests==2.33.1
rjsmin==1.2.2
rules==3.5
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
urlman==2.0.3
vine==5.1.0
vobject==0.9.9
wcwidth==0.8.2
webencodings==0.5.1
whitenoise==6.12.0
zxcvbn==4.5.0
